
.confirmation-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #088178;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}
.confirmation-msg p{

color: #ffffff;
    
}